# Server
SERVER_ADDR=0.0.0.0:50051

# SurrealDB
DATABASE_URL=ws://localhost:8000
DATABASE_NAMESPACE=webs
DATABASE_DATABASE=prod
DATABASE_USERNAME=root
DATABASE_PASSWORD=root

# Auth
AUTH_JWT_SECRET=change_me_in_production
AUTH_ACCESS_TOKEN_EXPIRY=900
AUTH_REFRESH_TOKEN_EXPIRY=2592000
